@charset "utf-8";
/* CSS Document */

/*全局定义*/
body { margin:0; padding:0; font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; font-size:12px; background:#fff;}
body,div,td,th,p { line-height:25px; color:#000000; font-size:12px; font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif;}
li,ul { list-style:none; margin:0; padding:0;}
a { color:#000000; text-decoration:none;}
a:hover { color:#f08300;}

/*整体框架*/
#header { width:1100px; height:99px; margin:0 auto; background:url(../images/index_01.jpg); overflow:hidden;}
#banner { width:1420px; height:515px; margin:0 auto; background:#FFFFFF;}
#navfirst { width:1070px; height:51px; margin:0 auto; padding-left:30px;}
#bottom { width:680px; height:83px; margin:0 auto; background:url(../images/index_04.jpg); color:#716d6a; line-height:88px; padding-left:420px; overflow:hidden;}
#page_banner { width:1040px; height:250px; margin:0 auto; background:#5a5653;}
#page_center { width:1040px; _height:450px; min-height:450px;  margin:0 auto; margin-bottom:25px;}

/*导航*/
#navfirst ul { margin:0; padding:0;}
#navfirst ul li { margin:0; padding:0; width:130px; height:51px; float:left; line-height:51px; text-align:center; font-size:15px; color:#FFFFFF; font-weight:bold;}
#navfirst ul li a { line-height:51px; text-align:center; font-size:15px; color:#FFFFFF;font-weight:bold; display:block;}
#navfirst ul li a:hover { line-height:51px; text-align:center; font-size:15px; color:#545454;font-weight:bold; display:block; background:url(../images/nav_01.jpg);  }
#navfirst ul li .cur{ line-height:51px; text-align:center; font-size:15px; color:#545454;font-weight:bold; display:block; background:url(../images/nav_01.jpg);  }

/*内页*/
#banner_page_img { width:1040px; height:65px; margin:0 auto;}
#banner_page_add { width:1030px; height:30px; margin:0 auto; background:#b87b48; line-height:30px; color:#fad3af; padding-left:10px; background:url(../images/t2.png);}
#banner_page_add a:link,#banner_page_add a:visited { line-height:30px; color:#fad3af;}
#banner_page_add a:hover { line-height:30px; color:#fff000;}
.weibo { width:160px; height:23px; position:absolute; margin-left:840px; padding-top:7px;}

/*产品详细*/
.pro_l { width:760px; _height:500px; min-height:500px; float:left; margin-right:20px;}
.pro_r { width:260px; _height:300px; min-height:300px; float:left; padding-top:45px;}
.pro_imgss { width:760px; _height:300px; min-height:300px; overflow:hidden; text-align:center; }
.pro_imgss img { border:0;}


/*导航*/
#nav_line { width:1040px; _height:30px; min-height:30px; margin:0 auto; margin-top:20px;}
#nav_line ul { margin:0; padding:0;}
#nav_line ul li { margin:0; padding:0; width:80px; height:28px; float:left; margin-right:5px; margin-bottom:5px;}
#nav_line ul li a { width:78px; height:28px; float:left; line-height:28px; text-align:center; color:#666666; border:1px solid #e2c7a5;}
#nav_line ul li a:hover { width:80px; height:28px; float:left; line-height:30px; text-align:center; background:#b87b48; color:#FFFFFF;}
#nav_line ul li .cur { width:80px; height:28px; float:left; line-height:30px; text-align:center; background:#b87b48; color:#FFFFFF;}

/*新闻框*/
.news_img { width:332px; height:440px; float:left; margin-right:20px;}
.news_lists { width:688px; _height:440px; min-height:440px; float:left;}
.news_lists p { margin:0; padding:0; line-height:30px; font-size:13px;}
.news_lists ul { margin:0; padding:0;}
.news_lists ul li {padding:0; margin:0;height:35px; line-height:35px; color:#333333; padding-left:20px; overflow:hidden;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; background:url(../images/news_bg.png);}
.news_lists ul li a {color:#333333;font-size:13px;font-weight:normal;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; }
.news_lists ul li a:hover{text-decoration:none;color:#f08300; font-weight:normal; font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; }
.news_lists ul li span { float:right;color:#666; font-size:13px;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif;  font-size:12px; color:#333333;}
.news_next { width:1040px; height:40px; line-height:40px; text-align:center; color:#666666;}
.news_next a:link,.news_next a:visited{ border:1px solid #e2c7a5; color:#e2c7a5; padding:0 5px;}
.news_next a:hover { border:1px solid #e2c7a5; color:#fff; background:#e2c7a5;}

/*底部信息*/
#bottom span { line-height:62px; color:#9b9b9b;}
#bottom a:link,#bottom a:visited {  line-height:62px; color:#9b9b9b; font-size:11px;}
#bottom a:hover {  line-height:62px; color:#007bba; text-decoration:none;}

/*产品展示*/
.pro_box { width:240px; height:230px; float:left; margin-right:20px; margin-bottom:20px; background:url(../images/pro_bg.png);}
.pro_box_img { width:220px; height:170px; padding:10px 10px 0 10px; }
.pro_box_img img { width:220px; height:170px; border:0;}
.pro_box_d{ width:220px; height:50px; padding:0 0 0 20px; }
.pro_box_d a:link,.pro_box_d a:visited{ font-size:14px; color:#e4891e; line-height:30px; }
.pro_box_d a:hover{ font-size:14px; color:#000;  line-height:30px; }

/*新闻样式*/
.news_list1 ul { margin:0; padding:0;}
.news_list1 ul li {clear:both; padding:0; margin:0;height:35px; line-height:35px; color:#000; padding-left:15px; overflow:hidden;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; background:url(../images/news_bg.jpg);}
.news_list1 ul li a {color:#000;font-size:12px;font-weight:normal;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;}
.news_list1 ul li a:hover{text-decoration:none;color:#1861d0; text-decoration:underline; font-weight:normal; text-decoration:underline;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;}
.news_list1 ul li span { float:right;color:#666; font-size:12px; margin-right:5px;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;}


/*内页左导航*/
.page_left { width:167px; _height:100px; min-height:100px; float:left; margin-right:40px;}
.left_about {width:153px;height:50px;line-height:50px;background:url(../images/left_bg.jpg); padding-left:14px; font-size:16px; font-weight:bold; color:#FFFFFF; text-align:left;}
.left_about p { font-size:14px; color:#FFFFFF; line-height:18px; font-weight:normal;}
.left_about p span { font-size:14px; color:#FFFFFF; line-height:18px; font-weight:normal;}
.left_nav a:link,.left_nav a:visited {width:153px;height:35px;font-size:12px; display:block; text-align:left;line-height:35px; color:#444444; margin:0 auto; background:url(../images/left_nav01.jpg); clear:both; overflow:hidden;font-family: "微软雅黑",Arial, Helvetica, sans-serif; padding-left:14px; }
.left_nav a:hover{width:153px;height:35px;font-size:12px;font-weight:normal; display:block; text-align:left;line-height:35px; color:#fff; font-weight:bold; margin:0 auto; background:url(../images/left_nav02.jpg); clear:both; font-weight:normal; overflow:hidden; text-decoration:none;font-family: "微软雅黑",Arial, Helvetica, sans-serif;padding-left:14px; }
#left_nav .left_nav .cur{width:153px;height:35px;font-size:12px;font-weight:normal; display:block; text-align:left;line-height:35px; color:#fff; font-weight:bold; margin:0 auto; background:url(../images/left_nav02.jpg); clear:both; font-weight:normal; overflow:hidden;  text-decoration:none;font-family: "微软雅黑",Arial, Helvetica, sans-serif;padding-left:14px; }
.white_nav {font-size:13px;line-height:25px;color:#fff;width:185px;height:25px;margin:0 auto;font-weight: bold;display:block; background:url(../images/left_nav02.jpg);}
.white_nav:hover {line-height:25px;height:25px; font-weight:bold;color: #000;text-decoration: none;background:url(../images/left_nav02.jpg);}
.white_nav2 {font-size:12px;line-height:25px; color:#fff;width:175px;height:25px;margin:0 auto;display:block; background:url(../images/left_nav03.jpg); text-align:left; padding-left:10px;}
.white_nav2:hover {line-height:25px;color:#ff0000;text-decoration:none; background:url(../images/left_nav04.jpg);}
.menber_re { width:547px; height:350px;color:#CCCCCC; font-size:14px; background:url(../images/re_bg.jpg); margin-left:80px; margin-top:60px;}
.menber_view { width:547px; height:215px;color:#CCCCCC; font-size:14px; background:url(../images/re_bg2.jpg);margin-left:80px;}
.left_contact { width:165px; height:130px; background:url(../images/left_01.jpg); margin-top:5px; padding:80px 10px 10px 10px;}
.left_contact p { margin:0; padding:0; line-height:22px;}

/**内页产品下拉导航***/
.nav_left { width:167px;}
.nav_left_a {width:153px;height:35px;font-size:12px; display:block; text-align:left;line-height:35px; color:#444444; font-weight:normal; margin:0 auto;  display:block; background:url(../images/left_nav01.jpg); clear:both; overflow:hidden; padding-left:14px;}
.nav_left_a:hover {width:153px;height:35px;font-size:12px; display:block; text-align:left;line-height:35px; color:#fff; margin:0 auto; display:block;  background:url(../images/left_nav02.jpg); clear:both; overflow:hidden; padding-left:14px; text-decoration:none;}
#left_nav .cur {width:153px;height:35px;font-size:12px; display:block; text-align:left;line-height:35px; color:#fff; margin:0 auto; display:block;  background:url(../images/left_nav02.jpg); clear:both; overflow:hidden; padding-left:14px; text-decoration:none;}
.nav_left_ab a {width:153px;height:30px;font-size:12px; display:block; text-align:left;line-height:30px; color:#f08300; margin:0 auto; display:block;  background:url(../images/left_nav03.jpg);clear:both; overflow:hidden; padding-left:14px; text-decoration:none;}
.nav_left_ab a:hover {width:153px;height:30px;font-size:12px; display:block; text-align:left;line-height:30px; color:#000; font-weight:bold; margin:0 auto; display:block; background:url(../images/left_nav04.jpg); clear:both; overflow:hidden; text-decoration:none;}
.nav_left_ab { display:none;}
#firstpane cur{ background:#FF0000;}

/*内页右内容*/
.page_right { width:1040px; _height:500px; min-height:500px; float:left; }
.page_right_add { width:763px; height:40px;  text-align:left; color:#a0a0a0; line-height:40px; overflow:hidden;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; background:url(../images/add_bg.jpg);  font-size:11px; font-weight:normal; padding-left:70px;}
.page_right_add span { font-size:12px; font-weight:normal; color:#666666;}
.page_right_add1 { width:485px; height:25px; line-height:25px; float:left; text-align:left; font-size:16px; font-weight:bold; color:#a0a0a0;}
.page_right_add2 { width:300px; height:25px; line-height:25px; float:left; text-align:right;font-size:12px; color:#a0a0a0;}
.page_right_add a:link,.page_right_add a:visited { color:#a0a0a0; line-height:25px; font-size:11px;}
.page_right_add a:hover { color:#FF6600; text-decoration:none;}
.page_right_concent { width:1040px; _height:450px; min-height:450px; line-height:25px; font-size:12px; padding:18px 0; color:#333333; overflow-x:hidden; font-family:Arial, Helvetica, sans-serif; word-wrap:break-word;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;word-wrap:break-word;}
.page_right_concent tr td {  line-height:20px; font-size:13px; font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;word-wrap:break-word;}
.page_right_concent p { margin:0; padding:0; line-height:30px; font-size:13px; color:#666666;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;word-wrap:break-word;}
.page_right_concent p span { text-align:center; font-weight:bold; line-height:50px; font-size:20px; color:#666666; text-align:center;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; font-weight:bold;}
.page_right_concent_ad { width:797px; height:275px; margin-top:10px;}


/*产品*/
.ppp { width:179px; height:220px; float:left; padding:0 10px 10px 10px;}
.ppp1 { width:179px; height:179px;}
.ppp1 img { width:179px; height:179px; border:0;}
.ppp2 { width:179px; height:41px; line-height:41px; text-align:center;}




.title { width:785px; height:40px; font-size:16px; font-family:"微软雅黑",Arial, Helvetica, sans-serif; line-height:40px; font-weight:bold; color:#333333; text-align:center; border-bottom:1px dashed #999999; margin-top:15px;}
.data { width:785px; height:30px; font-size:10px; line-height:30px; color:#999999; text-align:center; font-family:"微软雅黑",Arial, Helvetica, sans-serif; }
.page_right_concent1 { width:785px; _height:400px; min-height:400px; line-height:24px; font-size:12px; padding:18px 0; color:#333333; overflow-x:hidden; font-family:Arial, Helvetica, sans-serif; word-wrap:break-word;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;word-wrap:break-word;}
.page_right_concent1 p { margin:0; padding:0; line-height:24px; font-size:12px; color:#333333;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;word-wrap:break-word;}
.page_right_concent1 p span { text-align:center; font-weight:bold; line-height:26px; font-size:18px; color:#333333; text-align:center;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;}
.page_right_concent1 a:link,.page_right_concent1 a:visited { line-height:24px; text-decoration:underline; color:#f08300;}
.page_right_concent1 a:hover { line-height:24px; text-decoration:underline; color:#000;}
.page_right_concent2 { width:785px; _height:400px; min-height:400px; line-height:24px; font-size:12px; padding:18px 0; color:#333333; overflow-x:hidden; font-family:Arial, Helvetica, sans-serif; word-wrap:break-word;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;word-wrap:break-word;}
.page_right_concent2 p { margin:0; padding:0; line-height:24px; font-size:12px; color:#333333;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;word-wrap:break-word;}
.page_right_concent2 p span { text-align:center; font-weight:bold; line-height:26px; font-size:18px; color:#333333; text-align:center;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;}
.page_right_concent2 a:link,.page_right_concent1 a:visited { line-height:24px; text-decoration:underline; color:#f08300;}
.page_right_concent2 a:hover { line-height:24px; text-decoration:underline; color:#000;}


/*新闻样式*/
.news_list ul { margin:0; padding:0;}
.news_list ul li {clear:both; padding:0; margin:0;height:30px; line-height:30px; color:#333333; padding-left:10px; overflow:hidden;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; background:url(../images/news_bg.jpg);}
.news_list ul li a {color:#333333;font-size:12px;font-weight:normal;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; }
.news_list ul li a:hover{text-decoration:none;color:#f08300; font-weight:normal; font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; }
.news_list ul li span { float:right;color:#666; font-size:12px;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif;  font-size:12px; color:#333333;}

/*产品展示*/
.page_right_pro { width:748px; _height:400px; min-height:400px; line-height:40px; padding:20px 0 10px 0;font-size:12px; color:#666666; overflow-x:hidden;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,;}
.pro_bg {width:200px; height:235px; background:url(../images/pro_bg.jpg); float:left; margin:0 15px 20px 20px; padding:0 10px;}
.pro_bg01 {width:200px; height:200px;}
.pro_bg01 img {width:200px; height:200px; border:0;}
.pro_bg02 {width:200px; height:35px; line-height:35px; text-align:center;}
.pro_bg02 a:link,.pro_bg02 a:visited { line-height:35px; font-size:13px; color:#666666;}
.pro_bg02 a:hover { color:#0066CC;}

/*产品架构*/
.pbb { width:748px; height:400px; background:url(../images/img03.jpg);}
.pbb1 { width:200px; height:330px; float:left; padding-top:70px;}
.pbb1 ul{ margin:0; padding:0;}
.pbb1 ul li{ margin:0; padding:0; line-height:30px; background:url(../images/pbb_bg.png); }
.pbb1 ul li a{ color:#575757; font-size:12px; line-height:30px; padding-left:15px;}
.pbb1 ul li a:hover{ color:#006cbf; font-size:12px; text-decoration:underline;}
.pbb1 ul li span{ color:#006cbf; font-size:16px; font-weight:bold; line-height:35px;}
.pbb2 { width:548px; height:400px; float:left;}
.pbl { width:748px; _height:250px; min-height:250px; margin-top:40px;}
.pbl ul { margin:0; padding:0; width:249px; height:250px; float:left; margin-bottom:20px;}
.pbl ul li { margin:0; padding:0; height:30px; background:url(../images/pbb_bg.png); }
.pbl ul li span { margin:0; padding:0; line-height:30px; color:#006cbf; background:#fff; display:block;}
.pbl ul li a { line-height:30px; color:#575757;font-size:12px; padding-left:15px;  }
.pbl ul li a:hover { line-height:30px; color:#006cbf;font-size:12px; text-decoration:underline;}


/*产品详细页*/
.px { width:748px; _height:100px; min-height:100px; margin-bottom:30px;}
.px ul { margin:0; padding:0;}
.px ul li { margin:0; padding:0; width:247px; height:35px; float:left; border:1px solid #d6d6d6; }
.px ul li a { background:#FFFFFF; color:#333333; line-height:35px; text-align:center; font-size:12px; display:block; }
.px ul li a:hover { background:#0658ab; color:#FFFFFF; line-height:35px; text-align:center; font-size:12px; display:block; text-decoration:none; }
.px ul li .cur { background:#0658ab; color:#FFFFFF; line-height:35px; text-align:center; font-size:12px; display:block; text-decoration:none; }

.pxq { width:748px; _height:500px; min-height:500px; margin-bottom:30px;}
.pxq1 { width:748px; height:30px; border-bottom:1px solid #CCCCCC;}
.pxq2 { width:748px; _height:450px; min-height:450px; padding-top:20px;}
.pxq2 p { margin:0; padding:0; line-height:25px;}


/*切换样式*/
.gzd_l {font-size:12px;line-height:30px;color:#444;width:105px;height:30px; background:url(../images/nav_bg3.jpg);font-weight:normal;display:block;text-align:center;float:left;  font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; margin-right:2px;}
.gzd_l:hover {font-size:12px;line-height:30px;color:#fff;width:105px;height:30px;font-weight:normal;display:block;text-align:center;float:left;  font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; background:url(../images/nav_bg4.jpg);text-decoration:none;}
.gzd_l a:hover{font-size:12px;line-height:30px;color:#fff;width:105px;height:30px;font-weight:normal;display:block;text-align:center;float:left;  font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; background:url(../images/nav_bg4.jpg); text-decoration:none;}
.gzd_cur {font-size:12px;line-height:30px;color:#fff;width:105px;height:30px;font-weight:normal;display:block;text-align:center;float:left;  font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; background:url(../images/nav_bg4.jpg);text-decoration:none;}
.gzd_cur:hover {font-size:12px;line-height:30px;color:#fff;width:105px;height:30px;font-weight:normal;display:block;text-align:center;float:left;  font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif; background:url(../images/nav_bg4.jpg);text-decoration:none;}

/*查看留言*/
.view1 { width:722px; _height:160px; min-height:160px; margin-bottom:10px; margin:0 auto; margin-bottom:15px;}
.view2 { width:722px; height:34px;background:url(../images/v1.jpg);}
.view21 { width:490px; height:34px; font-size:14px; color:#fff; float:left; font-weight:bold; line-height:34px; text-align:left;padding-left:10px;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; }
.view22 { width:212px; height:34px; color:#666; float:left; line-height:34px; text-align:left; text-align:right; padding-right:10px;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; }
.view3 { width:702px; _height:64px; padding:10px 10px; line-height:20px;  color:#5d4b37; min-height:64px; background:url(../images/v2.jpg);font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; line-height:20px; }
.view3 p { margin:0; padding:0;color:#000; font-size:12px; line-height:20px;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; }
.view3 p span { font-weight:bold; font-size:12px; color:#666; line-height:20px;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; }
.view4 { width:712px; height:42px; color:#00a8ff; background:url(../images/v3.jpg);font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; line-height:42px; padding-left:10px; }
.view4 span { font-weight:normal; font-size:12px; line-height:42px; color:#00a8ff;font-family:"微软雅黑",Verdana,Arial, Helvetica, sans-serif,; }


/*产品咨询样式*/
.page_right_pro { width:797px; _height:50px; min-height:50px; font-size:14px; color:#333333; line-height:23px;font-family:Arial, Helvetica, sans-serif; overflow-x:hidden; margin-bottom:20px;}
.page_right_pro01 { width:797px; height:30px; line-height:30px; color:#f08300; font-weight:bold; } 
.page_right_pro02 { width:797px; _height:20px; min-height:20px; } 
.page_right_pro03 { width:797px; height:30px; line-height:30px; color:#666;} 
.page_right_pro04 { width:797px; height:50px; text-align:center; padding-top:10px;} 
.page_right_pro05 { width:797px; _height:20px; min-height:20px;} 
.page_right_pro05 p { margin:0; padding:0; line-height:25px;} 
.page_right_pro06 { width:797px; _height:20px; min-height:20px; padding-bottom:15px;  border-bottom:1px dashed #cecece;  margin-bottom:20px;} 

/*qq*/
#xixi {
	z-index:999;
	margin-left:-5px;
}
.main_head {
	BACKGROUND: url(../images/img3-5_2.gif) no-repeat;
}
.info {
	PADDING-BOTTOM: 10px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BACKGROUND: url(../images/img3-5_3.png);
	background-image:url(../images/img3-5_3.gif);
	background-repeat:repeat-y;
	PADDING-TOP: 5px;
}
.down_kefu {
	WIDTH: 157px;
	BACKGROUND: url(../images/img3-5_4.gif) no-repeat;
	HEIGHT: 8px;
}
.Obtn {
	MARGIN-TOP: 74px;
	WIDTH: 32px;
	BACKGROUND: url(../images/img3-5_1.gif) no-repeat;
	FLOAT: left;
	HEIGHT: 139px;
	MARGIN-LEFT: -5px
}
.qqtable SPAN {
	PADDING-BOTTOM: 5px;
	LINE-HEIGHT: 20px;
	PADDING-LEFT: 0px;
	WIDTH: 100px;
	PADDING-RIGHT: 0px;
	COLOR: #555;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px
}
.qqtable A {
	TEXT-DECORATION: none
}
.qqtable A:hover {
	TEXT-DECORATION: none
}
.qun {
	PADDING-BOTTOM: 5px;
	LINE-HEIGHT: 20px;
	PADDING-LEFT: 0px;
	WIDTH: 100px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 12px;
	PADDING-TOP: 5px;
	border-bottom:1px solid #CCCCCC;
}
.qun SPAN {
	COLOR: #000;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold
}

-->




















